
.input {
    box-sizing: border-box;
    display: inline-block;
<<<<<<< HEAD
=======
    /* width: 57%; */
>>>>>>> fd59777ab857ebcf997365a1ef331e5c6c86a60a
    border: 1px solid gray;
    /* float: center; */
}

.thumbnail {
    text-align: center;
}
<<<<<<< HEAD
=======



>>>>>>> fd59777ab857ebcf997365a1ef331e5c6c86a60a
